@charset "utf-8";

.bloco1{
    padding: 20px;
}
aside.bloco2 {
    padding: 20px;
}
body{
    padding-top: 27px;
}
p{
    text-align: justify;
}
.topo {
    background-color: #333;
    color: #f8f8f8;
}
.logo{
    padding: 20px;
}
img{
    max-width: 100%;
    width: 120px;
    height: 120px;
    float: left;
}
header.topo h1{
    padding-top: 10px;
}
img.social {
    width: 80px;
    height: 80px;
    float: left;
    opacity: 0.9;
    padding-left: 3.5px;
}
.bgrodape {
    background-color: #333;
    color: #f8f8f8;
}
.copy{
    text-align: center;
}
.seta{
    width: 40px;
    height: 40px;
}
figure.rodape{
    max-width: 100%;
    width: 120px;
    height: 120px;
    float: left;
}

::-webkit-input-placeholder { font-style:italic; }
::-moz-placeholder { font-style:italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style:italic; } /* ie */
input:-moz-placeholder { font-style:italic; }
